SELECT ms.summary_number, msi.quantity, msi.unit_price, msi.estimate_value, p.rate_per_sold_unit, p.base_price, p.name FROM morning_summaries ms JOIN morning_summary_items msi ON ms.id = msi.morning_summary_id JOIN products p ON msi.product_id = p.id WHERE ms.summary_number = 'MS-0002';
